.navbar-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.register {
  text-decoration: none;
  margin: 0 10px;
  font-size: 17px;
  font-weight: 500;
  background: #3f90fc;
  padding: 4px 8px;
  color: #fff;
  border-radius: 20px;
}

.register:hover {
  color: #fff;
}
@media only screen and(max-width:576px) {
  .register {
    font-size: 100%;
  }
}
